.top {
  min-height: 475px;
  background-image: url("../img/girl-mobile.png"), url("../img/border_mobile.png"), url("../img/circle_mobile.png"), url("../img/bg_circle-mobile.png");
  background-repeat: no-repeat;
  background-position: right 141px, 259px 113px, 313px 62px, center top;
}

.top__intro {
  position: relative;
  margin-left: 14px;
  padding-top: 135px;
}

.top__title {
  margin: 0;
  padding-right: 3px;
  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 37px;
  letter-spacing: 3px;
  color: $white;
  text-transform: uppercase;
}

.top__text {
  display: none;
}

.top_pagination {
  display: none;
}

@media (min-width: $tablet-width) {
	.top {
		min-height: 654px;
		background-image: url("../img/girl-tablet.png"), url("../img/border_tablet.png"), url("../img/circle_tablet.png"), url("../img/bg_circle-tablet.png");
		background-position: right 48px, 721px 50px, 625px 141px, left top;
	}

	.top__title {
		padding-bottom: 44px;
    max-width: 270px;
		font-size: 48px;
		line-height: 55px;
	}

	.top__text {
	  display: inline;
	  margin: 0;
	  font-family: "San Francisco Text Light", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    color: $white;
  }

  .top__intro {
    margin-left: 60px;
    padding-top: 183px;
  }
}

@media (min-width: $desktop-width) {
  .top {
    position: relative;
    min-height: 786px;
    background-image: url("../img/girl-desktop.png"), url("../img/border_desktop.png"), url("../img/circle_desktop.png"), url("../img/bg_circle-desktop.png");
    background-repeat: no-repeat;
    background-position: 372px 30px, 1330px 33px, 1210px 120px, left top;
  }

  .top__intro {
    margin-left: 100px;
    padding-top: 205px;
  }

  .top__title {
    padding-bottom: 16px;
    max-width: 330px;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 4px;
  }

  .top_pagination {
    position: absolute;
    top: 30%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
  }

  .top_number {
    margin-bottom: 10px;
    font-family: "San Francisco Text Bold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: $gray-light;
  }

  .top_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 5px;
  }

  .top_section {
    margin-bottom: 10px;
    border: 2px solid $gray-light;
    border-radius: 50%;
  }

  .top_section:first-child {
    width: 2px;
    height: 60px;
    border: none;
    border-radius: 0;
    border-right: 2px solid $gray-light;
  }
}