$green: #91aa59;
$green-dark: #2a4f37;
$green-light: #c8d4ac;
$green-light-1: #b2c38a;
$green-light-2: #9cb269;
$green-light-3: #c7d4ab;
$gray: #7f7f7f;
$gray-light: #bfbfbf;
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$shadow:rgba(33, 33, 33, 0.3);
$mobile-width: 320px;
$tablet-width: 764px;
$desktop-width: 1366px;
$main-color: $green;
$sec-color: $white;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
